.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  padding: 20px 0;
  background-color: #222222;
  border-top: 1px dotted #404040;
}
.footer .footer__list .list__item {
  float: left;
  margin: 0 24px 24px 0;
}
.footer .footer__base {
  clear: left;
}
.calendar .calendar__toolbar {
  margin-bottom: 30px;
  text-align: center;
}
.calendar .calendar__toolbar .toolbar__left {
  float: left;
}
.calendar .calendar__toolbar .toolbar__right {
  float: right;
}
.calendar .calendar__toolbar .toolbar__center {
  display: inline-block;
  line-height: 45px;
  font-size: 18px;
}
.calendar .calendar__toolbar .toolbar__clear {
  clear: both;
}
.calendar .calendar__year {
  width: 100%;
  table-layout: fixed;
}
.calendar .quarter__month {
  min-height: 60px;
  border: 1px solid #464545;
  background-color: #303030;
  line-height: 60px;
  text-align: center;
  margin-bottom: -1px;
  margin-right: -1px;
  cursor: pointer;
  color: #00bc8c;
}
.calendar .quarter__month:hover {
  background-color: transparent;
}
.calendar .quarter__month.active {
  background-color: #464545;
}
.calendar .calendar__month {
  width: 100%;
  table-layout: fixed;
}
.calendar .header__week,
.calendar .week__number {
  width: 40px;
}
.calendar .header__week,
.calendar .header__day,
.calendar .week__number,
.calendar .week__day {
  border: 1px solid #464545;
  background-color: #303030;
  text-align: center;
}
.calendar .week__number {
  cursor: pointer;
}
.calendar .header__day--sat,
.calendar .header__day--sun {
  color: #e74c3c;
}
.calendar .week__day {
  height: 100px;
  line-height: 100px;
  margin-bottom: -1px;
  margin-right: -1px;
  cursor: pointer;
}
.calendar .week__day .day__number {
  color: #00bc8c;
}
.calendar .week__day:hover {
  background-color: transparent;
}
.calendar .week__day--otherMonth .day__number {
  opacity: 0.3;
}
.calendar .week__day--weekend .day__number {
  color: #e74c3c;
}
.calendar .week__day--currentDay {
  background-color: #464545;
}
.calendar .calendar__week {
  width: 100%;
  table-layout: fixed;
}
.calendar .header__week,
.calendar .week__number {
  width: 40px;
}
.calendar .header__week,
.calendar .header__day,
.calendar .week__number,
.calendar .week__day {
  border: 1px solid #464545;
  background-color: #303030;
  text-align: center;
}
.calendar .header__day--sat,
.calendar .header__day--sun {
  color: #e74c3c;
}
.calendar .week__day {
  height: 100px;
  line-height: 100px;
  margin-bottom: -1px;
  margin-right: -1px;
  cursor: pointer;
}
.calendar .week__day .day__number {
  color: #00bc8c;
}
.calendar .week__day:hover {
  background-color: transparent;
}
.calendar .week__day--otherMonth .day__number {
  opacity: 0.3;
}
.calendar .week__day--weekend .day__number {
  color: #e74c3c;
}
.calendar .week__day--currentDay {
  background-color: #464545;
}
.form--addProduct .form__message--error {
  margin-top: 12px;
  color: #e74c3c;
}
.calendar .calendar__day .table__emptyRow,
.calendar .calendar__day .table__loadingRow {
  line-height: 140px;
  text-align: center;
}
.calendar .calendar__day .table__loadingRow {
  color: #00bc8c;
}
.calendar .calendar__day .table__loadingRow:hover {
  background-color: #3d3d3d;
}
.calendar .calendar__day .table__sumRow {
  color: #00bc8c;
}
.calendar .calendar__day .table__sumRow .sumRow__title {
  text-align: right;
  padding-right: 20px;
}
.calendar .calendar__day .link {
  cursor: pointer;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: transparent;
}
.calendar .calendar__day .link:hover {
  border-bottom-color: #0ce3ac;
}
.calendar .calendar__day .table__toolbar {
  text-align: right;
}
.calendar .calendar__day .table__toolbar .toolbar__item {
  margin-right: 12px;
  cursor: pointer;
}
.calendar .calendar__day .table__toolbar .toolbar__item:last-child {
  margin-right: 0;
}
.calendar {
  margin-bottom: 20px;
}
.foodiary__page--food .food__toolbar {
  margin-bottom: 40px;
}
.foodiary__page--food .food__table .table__loadingRow,
.foodiary__page--food .food__table .table__emptyRow {
  line-height: 140px;
  text-align: center;
}
.foodiary__page--food .food__table .table__loadingRow {
  color: #00bc8c;
}
.foodiary__page--food .food__table .table__loadingRow:hover {
  background-color: #3d3d3d;
}
.foodiary__page--food .food__form .form__message--error {
  margin-top: 12px;
  color: #e74c3c;
}
.foodiary__page--promo {
  margin: 80px;
}
.foodiary__page--login {
  margin-top: 80px;
}
.foodiary__page--login .from--auth .form__message--error {
  margin-top: 12px;
  color: #e74c3c;
}
.foodiary__page--register {
  margin-top: 80px;
}
.foodiary__page--register .from--auth .form__message--error {
  margin-top: 12px;
  color: #e74c3c;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 50px;
  margin-bottom: 120px;
}
.foodiary .navbar-brand {
  cursor: pointer;
}

/*# sourceMappingURL=foodiary.css.map*/