.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  padding: 30px 0 0 0;
  background-color: rgba(78, 93, 108, 0.5);
  border-top: 1px dotted #404040;
  color: #ffffff;
}
.footer__address {
  font-size: small;
  margin: 0;
}
.footer__centerBlock {
  text-align: left;
  font-size: small;
  line-height: 20px;
}
.footer__contacts {
  margin-bottom: 10.5px;
}
.eventsList__event .well--event {
  min-height: 140px;
}
.eventsList__event .event__title {
  position: relative;
}
.eventsList__event .event__date {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  background-color: rgba(224, 105, 26, 0.3);
  padding: 2px 0 2px 24px;
  color: #d2d2d2;
}
.eventsList__event .event__distances {
  display: inline-block;
  padding: 0px 8px;
  margin-left: 8px;
  background-color: rgba(224, 105, 26, 0.2);
}
.eventsList__empty {
  text-align: center;
}
.spinerContainer {
  text-align: center;
  margin: 40px 0;
}
.uploadFileButton:hover .uploadFileButton__button {
  color: #ffffff;
  background-color: #b15315;
  border-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}
.uploadFileButton__file {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .page--home .jumbotron h1,
  .page--home .jumbotron .h1 {
    font-size: 48px;
  }
}
.page--home .jumbotron__spinner {
  text-align: center;
  margin: 80px 0;
}
.homeInfo .list-group {
  margin-bottom: 30px;
}
.homeInfo .info__spiner {
  text-align: center;
  padding: 40px 0;
}
.page--newsList .news__date {
  font-size: smaller;
  border-top: 1px dotted #dddddd;
  padding-top: 4px;
  margin: 0;
}
.page--newsCard .news__header {
  margin-top: 0;
}
.page--newsCard .news__content {
  text-align: justify;
}
.page--newsForm .well--form {
  background-color: rgba(78, 93, 108, 0.5);
}
.calendarDatepicker {
  display: inline-block;
  vertical-align: top;
  margin-right: 32px;
}
.calendarDatepicker .well {
  margin: 0;
}
.calendarDatepicker .text-muted {
  color: rgba(255, 255, 255, 0.3);
}
.calendarDatepicker .text-info {
  color: #ffffff;
}
.calendarDatepicker table.uib-daypicker:focus {
  outline: none;
}
.calendarDatepicker .datepicker--calendar .btn {
  box-shadow: none;
}
.calendarDatepicker .datepicker--calendar .btn:focus {
  outline: none;
}
.pageCalendar__nav {
  margin-bottom: 24px;
}
.pageCalendar__datepickers {
  margin-bottom: 24px;
}
.page--eventForm .well--form {
  background-color: rgba(78, 93, 108, 0.5);
}
.penzarun .page.page--eventCard {
  margin-top: 0;
}
.eventCard__header {
  text-align: left;
  margin-bottom: 40px;
}
.eventCard--event .eventCard__header {
  background-color: rgba(78, 93, 108, 0.5);
}
.eventCard--event .eventCard__header .info__division {
  border-color: #4e5d6c;
}
.eventCard--event .eventCard__header .col--date {
  background-color: rgba(78, 93, 108, 0.8);
}
.eventCard--event .eventCard__header .col--place {
  background-color: rgba(78, 93, 108, 0.5);
}
.eventCard--event .eventCard__header .col--master {
  background-color: rgba(78, 93, 108, 0.3);
}
.eventCard--training .eventCard__header {
  background-color: rgba(92, 184, 92, 0.5);
}
.eventCard--training .eventCard__header .info__division {
  border-color: #5cb85c;
}
.eventCard--training .eventCard__header .col--date {
  background-color: rgba(92, 184, 92, 0.8);
}
.eventCard--training .eventCard__header .col--place {
  background-color: rgba(92, 184, 92, 0.5);
}
.eventCard--training .eventCard__header .col--master {
  background-color: rgba(92, 184, 92, 0.3);
}
.eventCard--probeg .eventCard__header {
  background-color: rgba(240, 173, 78, 0.5);
}
.eventCard--probeg .eventCard__header .info__division {
  border-color: #f0ad4e;
}
.eventCard--probeg .eventCard__header .col--date {
  background-color: rgba(240, 173, 78, 0.8);
}
.eventCard--probeg .eventCard__header .col--place {
  background-color: rgba(240, 173, 78, 0.5);
}
.eventCard--probeg .eventCard__header .col--master {
  background-color: rgba(240, 173, 78, 0.3);
}
.eventCard--marathon .eventCard__header {
  background-color: rgba(217, 83, 79, 0.5);
}
.eventCard--marathon .eventCard__header .info__division {
  border-color: #d9534f;
}
.eventCard--marathon .eventCard__header .col--date {
  background-color: rgba(217, 83, 79, 0.8);
}
.eventCard--marathon .eventCard__header .col--place {
  background-color: rgba(217, 83, 79, 0.5);
}
.eventCard--marathon .eventCard__header .col--master {
  background-color: rgba(217, 83, 79, 0.3);
}
.eventCard__jumbotron {
  padding: 80px 0;
}
.eventCard__title {
  font-size: 38px;
  line-height: 38px;
  margin-bottom: 16px;
}
.eventCard__abstract {
  margin: 0;
  font-size: 22px;
  text-align: justify;
}
.eventHeader__info {
  text-align: left;
}
.eventHeader__info .info__title {
  margin-bottom: 8px;
}
.eventHeader__info .info__division {
  border-top-style: dotted;
  border-top-width: 1px;
}
.eventHeader__info .content__item {
  height: 60px;
  line-height: 60px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.eventCard__body {
  margin-bottom: 40px;
}
.eventCard__body .body__paragraph {
  margin-bottom: 20px;
}
.eventCard__body .body__title {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 8px;
}
.eventCard__body .eventCard__description {
  text-align: justify;
}
.eventCard__body .eventCard__description table {
  font-size: 14px;
  margin: 0;
}
.eventCard__body .verticalLine {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  border-right: 1px solid #ebebeb;
}
.eventCard__body .leftBlock {
  position: relative;
  min-height: 316px;
}
.eventCard__body .rightBlock__margin--top {
  margin-top: 20px;
}
.eventCard__body .rightBlock__buttons .btn:last-child {
  margin-bottom: 32px;
}
.eventCard__body .rightBlock__buttons .btn--overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
.eventCard__body .rightBlock__address .address__title {
  margin: 0 0 16px;
}
.eventCard__footer {
  padding-bottom: 40px;
}
.page.page--eventRegister .well--form {
  background-color: rgba(78, 93, 108, 0.5);
}
.page.page--eventRegister .form-control-static--event {
  padding: 9px 17px;
  background-color: #4e5d6c;
}
.page--about {
  text-align: justify;
}
.page--about .siteName {
  font-size: large;
}
.page--about .about__block {
  margin-bottom: 21px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: sans-serif;
  padding-top: 40px;
  margin-bottom: 200px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAOVBMVEUoOUk/UGFAUWE3SFgnOEgoOUk2R1cnOEgpOkopOko4SVk2R1coOUknOEg3SFkpOkpAUWE2SFj///8o/IqTAAAAAWJLR0QSe7xsAAAAATRJREFUKM9FUguShSAMa/mIqPve7v0vu0lacBygkhaSFDO3YqWWmBvmVt4dKx0f46MMzCfmiYzqZlUY0YOrs4b/UVt3ZmelX87IfJZq5iuzC63Y5fk9Mpxxw9/0rjNHucTEUNmR2ZLXHavXQHlb8ue4NacOs43Z1sfxZNaUPrLuqj2CX7kt9sjyCobChj+qh8pkeXhUDKxk8oM7AzMpGMl6lM/WDh8Rz1AAvQM39/JYU+UtFy64Dt3wyIQG/yb11a28341K9vCUEp75XQ74Urw6tDoGLX6yixY9lvPp7twucKx4/HbxICpFRn040b/q5l9kxatQXHVXV4fDzWP1M9+V6eYH547s2NgdNCltQu+l3cI5KlieUBPzP+lzdKUmhy70A4feN71Rj648+eKDQbyrdQuwf9svCbUeCDrJAAAAAElFTkSuQmCC');
}
.penzarun .form__message--error {
  font-size: 12px;
  margin-top: 8px;
  color: #d9534f;
}
.penzarun .page {
  margin-top: 30px;
}
.label--md {
  font-size: 12px;
}
